<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h1 style="margin: 20px;">LinkedIn Information Retrieval and Classifier</h1>
			<div style="font-size: 20px;">Use this system to retrieve and classify LinkedIn Profiles. To get domain of a particular profile, select <b>Get domain 
				of a profile</b>. To retrieve profiles relating to a certain keywords, select <b>Search for profiles</b>
			</div>
			<br>
			<form method="POST" action="/home">
				<div class="form-check">
					<label class="form-check-label" for="d1">
						<input type="radio" name="choice" value="domain" id="d1"><b>Get domain of a profile</b><br>
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label" for="k1">
						<input type="radio" name="choice" value="keywords" id="k1"><b>Search for profiles</b><br>
					</label>
				</div>
				<input type="submit" value="Get" class="btn btn-info" style="width:100px;text-align: center;margin: 20px;">
			</form>
		</div>
	</body>
</html>
