<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h2 style="margin: 20px;">LinkedIn Information Retrieval and Classifier</h2>
			<form method="POST" action="/home">
				<div class="form-check">
					<label class="form-check-label" for="d1">
						<input type="radio" name="choice" value="domain" id="d1">Get domain of a profile<br>
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label" for="k1">
						<input type="radio" name="choice" value="keywords" id="k1">Search for profiles<br>
					</label>
				</div>
				<input type="submit" value="Get" class="btn btn-info" style="width:250px;text-align: center;margin: 20px;">
			</form>
		</div>
	</body>
</html>
